{% extends 'common.html' %}
{% load static %}
{% block title %} House Price Prediction | About {% endblock %}
{% block content %}
    <!-- About Start -->
    <div class="container">

        <!-- KALP -->
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
            <div class="col-md-8 order-md-2">
                <h2 class="featurette-heading"> KALP GOHIL </h2>
                <p class="lead">
                    <ul>
                        <li><a href="mailto:kalpgohil9@gmial.com">kalpgohil9@gmial.com</a></li>
                        <li>Contact Number :- 8141919018</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 order-md-1">
                <img src="{% static 'images/house-07.jpg' %}" class="card-img-top" height="300" width="100">
            </div>
        </div>

        <!-- PARAM -->
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
            <div class="col-md-8 order-md-1">
                <h2 class="featurette-heading"> PARAM SHAH </h2>
                <p class="lead">
                    <ul>
                        <li><a href="mailto:paramat252@gmial.com">paramat252@gmial.com</a></li>
                        <li>Contact Number :- 9876543210</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 order-md-2">
                <img src="{% static 'images/house-07.jpg' %}" class="card-img-top" height="300" width="100">
            </div>
        </div>

        <!-- MAN -->
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
            <div class="col-md-8 order-md-2">
                <h2 class="featurette-heading"> MAN DESAI </h2>
                <p class="lead">
                    <ul>
                        <li><a href="mailto:mandesai555@gmial.com">mandesai555@gmial.com</a></li>
                        <li>Contact Number :- 9786453120</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 order-md-1">
                <img src="{% static 'images/house-07.jpg' %}" class="card-img-top" height="300" width="100">
            </div>
        </div>

        <!-- JAY -->
        <div class="row featurette d-flex justify-content-center align-items-center my-5">
            <div class="col-md-8 order-md-1">
                <h2 class="featurette-heading"> JAY PATEL </h2>
                <p class="lead">
                    <ul>
                        <li><a href="mailto:jayp99000@gmial.com">jayp99000@gmial.com</a></li>
                        <li>Contact Number :- 8975642310</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4 order-md-2">
                <img src="{% static 'images/house-07.jpg' %}" class="card-img-top" height="300" width="100">
            </div>
        </div>

        </div>

    </div>
    <!-- About End -->




  {% endblock %}