{% extends 'common.html' %}
{% load static %}
{% block title %} House Price Prediction | Prediction {% endblock %}
{% block content %}


    <!-- Form Start -->
    <div class="container my-4">
        <form action="predict_price_actual" method="GET">

            <div class="container">
                <h3>Please fill up this form to Predict House Price.</h3>

                <br>
                <label for="location"><b>Select Location</b></label>
                <select class="selectpicker form-control" id="location" name="location" required>

                    {% for location in locations %}
                    <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select><br>

                <label for="sqft"><b>Total Square Feet</b></label>
                <input type="text" placeholder="Enter Sqft." id="sqft" name="sqft" required>

                <label for="bath"><b>Total Bathrooms</b></label>
                <input type="text" placeholder="Enter Number of bathrooms" id="bath" name="bath" required>

                <label for="bhk"><b>Total BHK</b></label>
                <input type="text" placeholder="Enter Number of Bedrooms" id="bhk" name="bhk" required>

                <button type="submit" class="btn btn-outline-danger">Predict</button>

            </div>
        </form>
    </div>
    <!-- Form End -->




    {% endblock %}